@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&family=DM+Serif+Display:ital@0;1&family=Francois+One&family=Passion+One:wght@400;700;900&display=swap');
:root{
    --cb:cubic-bezier(.05,.61,.41,.95);
}
.main {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Francois One", sans-serif;
    font-weight: bold;
    font-size: 100px;
    line-height: 100px;
    text-transform: uppercase;
}

.circle {
    position: absolute;
    background: #000000e0;
    width: 13vw;
    height: 13vw;
    border-radius: 7.5vw;
}

.hone, .htwo, .hthree {
    position: relative; /* Ensure z-index works */
    color: black; /* Set text color to white */
    z-index: 1; /* Ensure text appears above the circle */
}
.htwo span{
    color: white;
}
.hthree span{
    color: white;
}
.hone {
    margin-right: 10%;
}

.htwo {
    margin-right: 10%;
}

.hthree {
    margin-left: 10%;
}
.name{
    position: absolute;
    right: 10%;
    top: 60%;
    font-size: 25px;
}
.section1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.section2{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    transition: 0.25s;
}
  
  
  .cards {
    display: flex;
    max-width: 800px;
    width: calc(100% - 100px);
    height: 400px;
  }
  
  .cards .card .info .title {
    font-weight: bold;
    font-size: 1.2rem;
  }
  
  .cards .card .label .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 40px;
    height: 40px;
    background-color: white;
    color: var(--color);
    border-radius: 50%;
  }
  
  .cards .card .label .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    white-space: pre;
    transition: 1s var(--cb);
  }
  
  .cards .card {
    position: relative;
    min-width: 60px;
    background: var(--bg);
    overflow: hidden;
    margin: 5px;
    background-size: auto 150%;
    background-position: center;
    cursor: pointer;
    transition: 0.5s var(--cb);
    border-radius: 30px;
  }
  
  .cards .card .label {
    display: flex;
    position: absolute;
    right: 0;
    height: 40px;
    transition: 0.5s var(--cb);
  }
  
  .cards .card.active .label {
    bottom: 20px;
    left: 20px;
  }
  
  .cards .card.active {
    flex-grow: 10000;
    background-size: auto 100%;
  }
  
  .cards .card:not(.active) .label {
    bottom: 10px;
    left: 10px;
  }
  
  .cards .card .shadow {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    background: linear-gradient(
      0, #0004, transparent
    );
  }
  
  .cards .card.active .info {
    opacity: 1;
  }
  
  .cards .card:not(.active) .info {
    opacity: 0;
  }
  .box ul li{
    position: absolute;
    width: 35px;
    height: 35px;
    list-style: none;
    opacity: 0;
    background: radial-gradient(gray,transparent,transparent);
    bottom: 0;
    left: 10vw;
    animation: animate 15s linear infinite;
  }
  .box ul li:nth-child(2){
    left: 37vw;
    animation-delay: 2s;
  }
  .box ul li:nth-child(3){
    left: 25vw;
    animation-delay: 4s;
  }
  .box ul li:nth-child(4){
    left: 60vw;
    animation-delay: 6s;
  }
  .box ul li:nth-child(5){
    left: 75vw;
    animation-delay: 4s;
  }
  @keyframes animate {
    0%{
        transform: scale(0);
        opacity: 1;
        bottom: 0;
    }
    100%{
        transform: scale(10);
        opacity: 0;
        bottom: 100vh;
    }
    
  }